<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="form-group">
            <div class="col-md-9">
                <input class="form-control" id="film-name-input" type="text" value="" placeholder="Film's name">
            </div>
            <div class="col-sm-2">
                <input class="form-control" id="film-year-input" type="text" value="" placeholder="Film's year">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" id="add-film-button">Add</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<hr>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        {{^empty collection}}
            {{#collection item-view="film-item" tag="div" id="films-list"}}
                <div class="col-md-8">
                    <div class="well well-sm film-item" id="film-item-{{ id }}">
                        <span class="film-name-label">{{ name }}</span>
                        <span class="film-year-label">{{ year }}</span>
                    <span class="film-details pull-right">
                        <a href="#/details/{{ id }}" class="">Details</a>
                    </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary rename-button" data-id="{{ id }}">Rename</button>
                    <button class="btn btn-default undo-button" style="display: none;" data-id="{{ id }}">Undo</button>
                    <button class="btn btn-info delete-button" data-id="{{ id }}">Delete</button>
                </div>
            {{/collection}}
        {{else}}
            <div class="alert alert-info text-center">
                <h4>There is no films to display. Please add some</h4>
            </div>
        {{/empty}}
    </div>
    <div class="col-lg-2"></div>
</div>